@{
    ViewData["Title"] = "Home Page";
}

<div  style="margin-top:30px;">
    
    <strong>Exchange Rate:</strong>
    <span style="color:teal">@ViewData["exchange_rate"]</span></br>
</div>
